@{
    ViewBag.Title = "Resources";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Forensics Standards documents from the US Department of Justice and National Institute of Standards and Technology</p>
<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p>
            US Department of Justice Standard
        </p>
        <p>
            <a href="@Url.Content("/Resources/NCJRS_199408.pdf")" >Download File</a>
        </p>
        <p>
            National Institute of Standards and Technology
        </p>
        <p>
            <a href="@Url.Content("/Resources/NIST.SP.800-101r1.pdf")">Download File</a>
        </p>
    </div>
</div>

