@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>For technology support and assistance contact:</p>
<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <address>
            <strong>UW Computer Support: Mike Smith</strong> <a href="mailto:msmith56@uw.edu">msmith56@uw.edu</a><br />
            <strong>Application Support: Sandra Wentworth</strong> <a href="mailto:sjw64@uw.edu">sjw64@uw.edu</a>
        </address>
    </div>
</div>
